* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    color: inherit;
}

*:before,
*:after {
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
}