$page-header-footer-background-color: #202628;
$page-header-footer-text-color: #e7e7e7;
$additional-page-color: #e84c3d;
$paragraph-color: #767c7e;
$subscribe-text-color: #fff;
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/' !default;
$navbar-height: 80px !default;
$nav-link-hover-bg: $additional-page-color;
$btn-default-bg: $additional-page-color;
$btn-primary-bg: $page-header-footer-background-color;
$btn-border-radius-base: 20px;
$btn-default-color: $subscribe-text-color;
$btn-primary-color: $subscribe-text-color;
$input-border-focus: $page-header-footer-background-color;
$input-border-radius: 20px;
$font-size-h1: 2.1rem;
$font-size-h2: 2.1rem;
$font-size-h3: 2.1rem;
$font-size-h4: 2.1rem;